// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$nip05-frontend-primary: mat.define-palette(mat.$orange-palette);

$nip-green-palette: (
  50: #c0ddd8,
  100: #9bc7bf,
  200: #9bc7bf,
  300: #7db1a7,
  400: #6da095,
  500: #658f85,
  600: #5e8279,
  700: #56726a,
  800: #50625c,
  900: #3f4643,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

$nip-orange-palette: (
  50: #fae9e5,
  100: #faceb8,
  200: #f6af89,
  300: #f29159,
  400: #ef7b32,
  500: #ec6800,
  600: #e26100,
  700: #d45a00,
  800: #c75300,
  900: #b04500,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
  ),
);

//$nip05-frontend-primary: mat.define-palette(mat.$pink-palette);
$nip05-frontend-primary: mat.define-palette($nip-green-palette);
$nip05-frontend-accent: mat.define-palette($nip-orange-palette);

// The warn palette is optional (defaults to red).
$nip05-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nip05-frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $nip05-frontend-primary,
      accent: $nip05-frontend-accent,
      warn: $nip05-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nip05-frontend-theme);

/* You can add global styles to this file, and also import other style files */

//@import '../../shared/src/lib/styles/shared-style.scss';
@import 'styles-global'; // Custom Theming for Angular Material
@import './styles/colors.scss';
@import './styles/font.scss';
@import './styles/table.scss';

@import './styles/margin.scss';
@import './styles/padding.scss';
@import './styles/flex.scss';

:root {
  --primary-50: #c0ddd8;
  --primary-100: #9bc7bf;
  --primary-200: #9bc7bf;
  --primary-300: #7db1a7;
  --primary-400: #6da095;
  --primary-500: #658f85;
  --primary-600: #5e8279;
  --primary-700: #56726a;
  --primary-800: #50625c;
  --primary-900: #3f4643;

  --primary-light: #dbe7e4;

  --accent-50: #fae9e5;
  --accent-100: #faceb8;
  --accent-200: #f6af89;
  --accent-300: #f29159;
  --accent-400: #ef7b32;
  --accent-500: #ec6800;
  --accent-600: #e26100;
  --accent-700: #d45a00;
  --accent-800: #c75300;
  --accent-900: #b04500;

  --warn-100: #ffcdd2;
  --warn-200: #ef9a9a;
  --warn-300: #e57373;
  --warn-400: #ef5350;
  --warn-500: #f44336;

  --body-color-dark: #1c1d2f;
  --body-background-color: #e7e7e7;

  --blue: #517199;

  --gray-100: #f8f9fc;
  --gray-200: #f1f3f9;
  --gray-300: #dee3ed;
  --gray-400: #c2c9d6;
  --gray-500: #8f96a3;
  --gray-600: #5e636e;
  --gray-700: #2f3237;
  --gray-800: #1d1e20;
  --gray-900: #111213;

  --dark-theme-bg: #0f172a; //
  --dark-theme-bg-light: #1e293b;
  --dark-theme-primary: #abff84;
  --dark-theme-secondary: #475569;
  --dark-theme-tertiary: #b384ff;
  --dark-theme-border: #25334a;
  --dark-theme-muted: #64748b;

  --dark-theme-color-3: #1b4242;
  --dark-theme-color-2: #5c8374;
  --dark-theme-color-1: #9ec8b9;

  --padding: 12px;
  --padding-2: 24px;
  --padding-3: 36px;
  --padding-4: 48px;
  --max-width: 696px;

  --font-size-plus-plus: 24px;
  --font-size-plus: 20px;
  --font-size: 16px;
  --font-size-minus: 14px;
  --font-size-minus-minus: 12px;

  --doc-height: 100%;
}

html,
body {
  //margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: var(--doc-height);
  background: var(--dark-theme-bg) !important; // fallback
  background-image: linear-gradient(
    0deg,
    #0f172a,
    #11192c,
    #131c2f,
    #151f31,
    #172134,
    #1a2436,
    #1c2639,
    #1e293b
  ) !important;
  background-repeat: no-repeat !important;
  color: #ffffff;

  h1 {
    font-size: 40px;
    font-weight: 500;
    color: #000000;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  b {
    font-weight: 500 !important;
  }

  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1024px) {
  h2 {
    font-weight: 500;
    font-size: 32px;
  }
}

body {
  //color: #1c1d2f;
  //background-color: #e7e7e7; // #ffffff;
  //background-color: #f9fafb;

  margin: 0;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// .mdc-button .mdc-button__label {
//   //font-weight: 600 !important;
// }

.body {
  color: #6b7280;
  font-size: 14px;
}

.title {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15;
}

.headline {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 8px;
}

.display-1 {
  font-size: 34px;
  letter-spacing: 0.24;
  line-height: 40px;
}

.small {
  font-size: 12px !important;
}

// .dense-1 {
//   @include mat.all-component-densities(-1);
// }

// .dense-2 {
//   @include mat.all-component-densities(-2);
// }

// .dense-3 {
//   @include mat.all-component-densities(-3);
// }

.alert-wrapper.sc-ion-alert-md {
  border-radius: 24px;
  border: 2px solid var(--dark-theme-border);
}

ion-content::part(scroll) {
  overscroll-behavior: auto;
}

ion-select {
  --background: var(--dark-theme-secondary);
  --border-color: var(--dark-theme-muted);
  min-height: 40px;
}

ion-select::part(text) {
  color: var(--dark-theme-primary) !important;
  font-size: 14px;
}

ion-select::part(icon) {
  color: var(--dark-theme-muted) !important;
}
