:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.container {
  max-width: 1024px;
  width: 100%;
}

.nip05-table {
  width: 100%;
  font-size: 14px;

  th {
    text-align: left;
    font-weight: 500;
    line-height: 32px;
    background-color: var(--accent-300);
    color: #ffffff;
    padding-left: 8px;
  }

  td {
    background-color: var(--accent-50);
    padding-left: 8px;
    line-height: 28px;
  }

  tr {
    &:hover > td {
      background-color: var(--accent-100);
    }
  }
}

.table-row {
  cursor: pointer;
}
