:host {
  padding-top: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--padding);

  .brand {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--padding);

    cursor: pointer;
  }

  .gradient-brand {
    color: unset;
    font-weight: 700;
    font-size: 18px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #fff, #1b4242);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
