:host {
  padding-top: var(--padding-2);
  display: flex;
  flex-direction: column;
  align-items: center;

  .a-link {
    all: unset;
    color: #ffffff;
    cursor: pointer;
  }

  .info {
    align-self: center;
    text-align: center;
    font-size: var(--font-size-minus-minus);
    color: var(--dark-theme-muted);
  }
}
